.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* chat 오른쪽 아이콘을 중앙배열(살짝 내려주더라) */
    margin-top: 15px;
    padding-bottom: 15px;
    /* background-color: teal; */
    width: 100%;
    border-bottom: 1px solid black;
  }

  
  /* .header .header__icon {
    font-size: 20px;
    margin-left: 20px;
    cursor: pointer;
  } */
  
  .header .header__header-column {
    display: flex;
    align-items: center;
    /* 베스트프렌드와 화살표를 배열해준다. */
  }
  .header i{
      font-size: 27px;
      color: white;
  }
  
  .profile{
    padding-top: 20px;
    width: 100%;
    height: 230px;
    background-color: thistle;
    display: block;
    justify-content: center; 
    /* margin-bottom: 50px; */
  }

  .profile__photo{
    /* background-color: black; */
    margin: 0px 0px 20px 0px;

      width: 100%;
      display: flex;
      justify-content: center;
      align-self: flex-start;
  }
  .profile__name{
    width: 100%;
    display: flex;
    /* background-color: white; */
    justify-content: center;
    margin-bottom: 10px;
  }
  .profile__numbers{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    /* background-color: tomato; */
  }

  .photo__grid{
    background-color: coral;
    width: 100%;
    height: 330px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

  }
  .photos{
    background-color: cornflowerblue;
    width: 140px ;
    height: 140px;
  }