.nav {
    position: fixed;
    width: 100%;
    padding: 20px 35px;
    background-color: #75187ecc;
    left: 0px;
    bottom: 0px;
    border-top: 1px solid #f7f7f7;
  }
  
  .nav .nav__list {
    display: flex;
    justify-content: space-between;
  }
  
  .nav i {
    font-size: 20px;
    color: white;
  }
  
