*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    font-family: sans-serif;
    background-color: aquamarine;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
    /* padding-inline-start: 0px; */
}
/* 대박, > form하나만 하니까 만사 오케이. 미쳤따!!! */
.form2{
    width: 500px;
    height: 600px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-self: center; */
    border-radius: 15px;
    padding: 0 15px 0 15px;
    background-color: rgb(82, 140, 228);
    box-shadow: 0px 25px 36px 12px rgba(0, 0, 0, 0.51);
}

.form2 input{
    width: 100%;
    height: 50px;
    padding-top: 20px;
    color: white;
    border: none;
    background-color: rgb(82, 140, 228);
    border-bottom: 2px solid white;
    outline: none;
}

.form2 label{
    transform: translateY(-50px);
    pointer-events: none;
}

.contentEmail, .contentPass{
    position: absolute;
    top: 25px;
    color: white;
    transition: all .3s ease;
}
.form2 input:focus+.labelEmail .contentEmail,
.form2 input:valid+.labelEmail .contentEmail{
    transform: translateY(-100%);
    font-size: 14px;
    color: white;
}

.form2 input:focus+.labelPass .contentPass,
.form2 input:valid+.labelPass .contentPass{
    transform: translateY(-100%);
    font-size: 14px;
    color: white;
}
button{
    color: white;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 15px;
    display: flex;
    align-self: center; 
    /* 이건 버튼 자체를 중앙 정렬 */
    align-items: center;
    /* 이건 버튼 내의 Login 글자를 중앙 정렬 */
    margin-top: 30px;
    justify-content: center;
    font-size: 16px;
    /* text-align: center; */
    outline: none;
    cursor: pointer;
    transition: all .3s ease;
}

button:hover{
    transform: translateY(10px);
}
h1{
    align-self: center;
    color: white;
    margin-bottom: 30px;
}

.nav {
    position: fixed;
    width: 100%;
    padding: 20px 35px;
    background-color: #75187ecc;
    left: 0px;
    bottom: 0px;
    border-top: 1px solid #f7f7f7;
  }
  
  .nav .nav__list {
    display: flex;
    justify-content: space-between;
  }
  
  .nav i {
    font-size: 20px;
    color: white;
  }
  
