@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700|Roboto&display=swap");
@import "nav.css";
* {
  box-sizing: border-box;
}
/* 이게 없었으면, nav쪽에 3점이 없어지게된다. */
/* 2-4강 why border box 보면, 이걸 설정해야 전체를 300px줬을 때, 
padding이 20px라면, content부분이 280px로 되게 한다.*/

a {
  color: inherit;
  text-decoration: none;
  /* 링크가 보라색이었던것을 검은색으로 바꿔준다. */
}

body {
  background-color: rgb(255, 255, 249);

  font-family: "Open Sans";
  color: #020202;
  padding: 10px 25px;
  /* top-bottom / left-right */
}

ul {
    list-style: none;
}

