body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.container{
    padding: 50px;
}

.make_pet, .my_pet{
    
    border: 1px solid rgb(92, 14, 122);
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.my_pet{
    margin-top:10px;
    display: inline-flex;
}
.plus_btn{
    flex:1 ;
    display: flex;
    align-items: center;
    font-size: 4rem;
}
h3{
    flex: 1;
    display: flex;
    align-items: center;
}
