<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
</head>
<body>
    <h1>회원가입 시켜줄때 해르</h1>
    <form method="POST" >  
        {% csrf_token %}        
        <!-- url 불러올때, post방식에서는 csrf공격을 막기위한 token을 같이 첨부 -->
    {{register_form.as_p}} 
    {{location_form}}
    <!-- form을 p형식으로 -->
    <a href ="{% url 'regi_profile' %}"><input type="submit" value="다음단계"></a>     
    </form>
</body>
</html>